adminSettings__admins={{ bitwarden_admins }}
globalSettings__mail__smtp__host={{ bitwarden_smtp_endpoint }}
globalSettings__mail__smtp__password={{ bitwarden_smtp_password }}
globalSettings__mail__smtp__username={{ bitwarden_smtp_username }}
